<div class="container-fluid">
  <div class="jumbotron" style="margin-top: 15px;">
    <h1>Hello, Developer!</h1>
    <p>Hier findest Du alle Fotos vom Fotoautomaten beim Developer Open Space.</p>
  </div>


<router-outlet></router-outlet>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav hidden-xs">
				<li>
					<a routerLink="/impressum">
						<span class="glyphicon glyphicon-info-sign"></span> Impressum</a>
				</li>
			</ul>
  </div>
</nav>